DB_HOST=painel.sistemasnorte.com.br
DB_PORT=5436
DB_NAME=counter_db
DB_USER=replace_me
DB_PASSWORD=replace_me
DB_SSL=false
NODE_ENV=development
API_PORT=3000
API_HOST=0.0.0.0
API_CORS_ORIGIN=http://localhost:3001
DB_LOGGING=false
